<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <link th:fragment="head" type="text/css" rel="stylesheet" th:href="@{/baseStyle.css}" />
        <link th:fragment="head" rel="shortcut icon" th:href="@{/images/favicon.ico?v=1}" />
        <meta th:fragment="head" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
        <meta th:fragment="head" http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    </head>

    <body>
        <header th:fragment="header" id="header">
            <h1>Insert Header Here...</h1>
        </header>>


        <footer th:fragment="footer" id="footer">
            <h1>Insert footer here...</h1>
        </footer>
    </body>
</html>
