<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <head>
        <title>Spring Security Example</title>
        <link rel="stylesheet" type="text/css" th:href="@{/homeStyle.css}" />
        <link th:substituteby="baseTemplate :: head" />
    </head>

    <body>
        <div th:replace="baseTemplate :: header"></div>

        <div class="title"><h1>Welcome!</h1></div>

        <p class="title">Click <a th:href="@{/welcome}">here</a> to see a greeting.</p>

        <div th:replace="baseTemplate :: footer"></div>
    </body>

</html>
