<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Create New User</title>
        <link rel="stylesheet" th:href="@{/newUserStyle.css}" />
        <link th:substituteby="baseTemplate :: head" />
    </head>
    <body>
        <div th:replace="baseTemplate :: header"></div>
        
        <div id="yolo"><h1>Create New User Page</h1></div>

        <div th:replace="baseTemplate :: footer"></div>
    </body>
</html>
