@import "_colors.scss";

html {
    height: 100%;
}

body {
    background-repeat: no-repeat;
    background: $BG-Color1; /* fallback for old browsers */
    background: -webkit-linear-gradient(top, $BG-Color1, $BG-Color2);
    background: -moz-linear-gradient(top, $BG-Color1, $BG-Color2);
    background: -o-linear-gradient(top, $BG-Color1, $BG-Color2);
    background: linear-gradient(to top, $BG-Color1, $BG-Color2);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#header {
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    background-color: $Header-Color;
    width: 100%;
}

#footer {
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: $Footer-Color;
    width: 100%;
}