@import "_colors.scss";

#title {
    margin: 0 auto;
    h1 {
        text-align: center;
    }
}

#bookTable {
    margin: 10px auto;
    border-collapse: collapse;

    td, th {
        border: 1px solid $Footer-Color;
        padding: 15px;
    }

    td {
        img {
            max-width: 100px;
        }
    }

    th {
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: $Footer-Color;
        color: $BG-Color1;
    }

    tr {
        margin: auto;
        text-align: center;
    }
}