body {
  background-color: rgb(70, 70, 70);
}

.title {
  p {
    font-size: 12px;

    a:link {
      text-decoration: none;
    }

    a:visited {
      text-decoration: none;
    }

    a:hover {
      text-decoration: none;
    }

    a:active {
      text-decoration: none;
    }
  }
  h1 {
    font-size: 70px;
  }


  color: rgb(0, 122, 210);
  margin: 5 auto;
  text-align: center;

}
